In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('dark_background')
plt.rcParams['axes.prop_cycle'] = plt.cycler(color = ['blue'])
plt.rcParams['figure.figsize'] = (20 , 10)

In [4]:
# !gdown 1-pOuGRd8zuAUKBll-1xkr7_867NwoWHg --output ../data/mobileSales.xlsx

Downloading...
From: https://drive.google.com/uc?id=1-pOuGRd8zuAUKBll-1xkr7_867NwoWHg
To: /Users/sanketmishra/Desktop/Desktop/code/scaler/ml/data/mobileSales.xlsx
100%|██████████████████████████████████████| 13.7k/13.7k [00:00<00:00, 4.29MB/s]

In [7]:
df = pd.read_excel('../data/mobileSales.xlsx')
df.head()

        DATE   Sales
0 2001-01-01  6519.0
1 2001-02-01  6654.0
2 2001-03-01  7332.0
3 2001-04-01  7332.0
4 2001-05-01  8240.0